.card-deck li {
    margin-bottom: 2px;
}

.clickable {
    cursor: pointer;
}

.card-frame{
    background-color: black;
    display: block;
    height: 40px;
    position: relative;
    color: #fff;

    
    font-size: 14pt;
}

.card-cost {
    width: 30px;
    height: 35px;
    /* border: 1px solid; */
    text-align: center;
    padding: 5px 0 0;
    position: absolute;
    left: 0;
    top: 0;

    background: rgb(40, 110, 178);
}

.card-name {
    position: absolute;
    left: 40px;
    text-align: center;
    padding: 5px;
    z-index: 2;
}

.card-quantity {
    position: absolute;
    height: 40px;
    width: 30px;

    right: 0;
    padding: 5px 0 0;
    text-align: center;
}

.card-art {
    /* right: 30px;
    z-index: -1;
    height: 100%;
    width: 150px; */

    position: absolute;
    right: 30px;
    top: 0;
    z-index: 1;
    height: 100%;
}

.card-art img {
    height: 100%;
    width: 150px;
    object-fit: cover;
    background-size: cover;

    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}